@keyframes float {

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-12px);
    }

    100%{
        transform:translateY(0);
    }

}

@keyframes glow{

    0%{

        box-shadow:0 0 10px rgba(16,185,129,.2);

    }

    50%{

        box-shadow:0 0 35px rgba(16,185,129,.6);

    }

    100%{

        box-shadow:0 0 10px rgba(16,185,129,.2);

    }

}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@keyframes rotateSlow{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}